@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

@{
    <script>

        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault();
                if ($("#files").prop("files").length > 0 && ($("#radioPublic").prop("checked") || $("#radioPrivate").prop("checked"))) {
                    $.ajax({
                        type: 'POST',
                        url: "<%= Url.Action("Upload","FileUpload")%>",
                        data:
                        {
                            files: $("#files").prop("files"),
                            isPrivate: ($("#radioPublic").prop("checked") ? false : true)
                        },
                        success: function () {
                            //console.log("ok");
                        }
                    });
                }

            });
        });

    </script>
}



<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload">
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple id="files" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <label class="radio-inline"> <input type="radio" name="typeFolder" id="radioPublic" value="Public"> Public </label>
                <label class="radio-inline"> <input type="radio" name="typeFolder" id="radioPrivate" value="Private"> Private </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <input type="submit" value="Upload" />
                @*<input type="button" value="Upload" id="btnSubmit" />*@
            </div>
        </div>
    </div>
</form>

