################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebImage/bin/Debug/netcoreapp2.2
/WebImage/obj/Debug/netcoreapp2.2
/WebImage/obj/Release/netcoreapp2.2
/WebImage/obj
/.vs
