@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <style>

        label,
        h1,
        h4,
        a,
        p,
        p button {
            color: #ffc107;
        }
    </style>

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>