@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<link href="~/css/home.css" rel="stylesheet" />*@

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Image Json Portal</h1>
        <p class="lead">Generate your Web API for images in a very simple way!</p>
        <hr class="my-4">
        <p>Upload your photos, select and click button! On the fly it generates your images API for your app.</p>
        @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <i class="fas fa-cloud-upload-alt"></i>
                <div class="card-body">
                    <h5 class="card-title">Upload your Photos</h5>
                    <p class="card-text">Create your space to upload public or private photos.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <i class="far fa-bookmark"></i>
                <div class="card-body">
                    <h5 class="card-title">Save your preferences</h5>
                    <p class="card-text">Create a profile of photos once for all with a set of preferences</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <i class="fas fa-share-alt"></i>
                <div class="card-body">
                    <h5 class="card-title">Generate your API</h5>
                    <p class="card-text">Generate your Web API resource to use in every app</p>
                </div>
            </div>
        </div>
    </div>
</div>

