@page
@model WebImage.MyGalleriesModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyGalleries</title>
</head>
<body>
</body>
</html>
