@page
@model WebImage.Pages.UploadModel


<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" multiple class="form-control" />
    <input type="submit" value="Upload" />
</form>

<ul>
    @foreach (var image in Model.myImages.Images)
    {
        var file = await image.DownloadImage(image.ThumbFileName, image.UserId);

        <li class="list-group-item">
            <div class="card">
                <img class="card-img-top" src="@Helper.DecodeImage(file)" alt="@image.Name">
                <div class="card-body">
                    <p class="card-text">
                        @*Description:<input type="text" class="card-text imagedescriptions" value="@image.Description" id="Descr_@item.FileId" name="Descr_@item.FileId" />*@
                    </p>
                </div>
            </div>
        </li>
    }
</ul>