
@{
//Layout = null;
}

<div class="row ">
    <div class="col-12 alert alert-info" role="alert">
        Layout your gallery in a carousel
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="~/img/logocarousel.jfif" alt="MVC action carousel">
            <div class="card-body">
                <h5 class="card-title">MVC Action Carousel</h5>
                <p class="card-text">Carousel by using MVC action</p>
                <a href="#" id="goJson" class="btn btn-primary">Go</a>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="~/img/logojson.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Json carousel</h5>
                <p class="card-text">Carousel filled with your json.</p>
                <a href="#" class="btn btn-primary disabled">Go</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="~/img/wip.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Carousel</h5>
                <p class="card-text">Coming soon</p>
                <a href="#" class="btn btn-primary disabled">Go</a>
            </div>
        </div>
    </div>
</div>
