@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Image Json Portal</h1>
    <p class="lead">Portal to simply generate your API for images</p>
    <hr class="my-4">
    <p>Upload your photos, select and click button! On the fly it generates your images API for your app.</p>
    @*<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>*@
</div>